# DS store
**/.DS_Store

# python venv & pycahce
**/venv
**/__pycache__

# models
**/*.pth
**/bert-question-classifier
**/BERT*
**/DistilBERT*
**/bart_finetuned

# model log files
code/CRG/classify/logs/*

# latex
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz